.banner {
  width: 100%;
  height: fit-content;
  margin: .16rem 0 .62rem;
  border-radius: .10rem;
  filter: drop-shadow(0 0.1rem 0.14rem rgba(0,0,0,.18)) 
    drop-shadow(0 0.12rem 0.1rem rgba(0,0,0,.14));
  margin: 0 0 .32rem;
}