@import '../variabel.scss';

.wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 12.8rem;
  justify-content: space-between;
  gap: .32rem
}

.title {
  font-size: .32rem;
  border-bottom: 2px solid $red;
  margin-bottom: .32rem;
  width: fit-content;
  padding-bottom: .06rem;
  color: $red;

  @media (max-width: $mobile) {
    font-size: .20rem;
  }
}