@import '../variabel.scss';

.card {
  filter: drop-shadow(0 0.1rem 0.14rem rgba(0, 0, 0, 0.18)) drop-shadow(0 0.12rem 0.1rem rgba(0, 0, 0, 0.14));
  display: flex;
  flex-direction: column;
  position: relative;

  @media (max-width: $mobile) {
    width: 100%;
  }
}

.image {
  height: 100%;
  border-radius: .10rem;

  @media (max-width: $mobile) {
    width: 100%;
    height: auto;
  }
}

.button {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0.02rem 0.12rem 0.02rem rgb(0 0 0 / 16%);
  border: 1px solid $green;
  color: $green;
  font-size: .14rem;
  font-weight: 700;
  margin-left: 0.24rem;
  padding: 0.1rem 0.25rem;
  text-transform: uppercase;
  position: absolute;
  bottom: .25rem;
  left: 25%;
  display: flex;
  align-items: center;
  gap: 0.05rem;
  cursor: pointer;

  @media (max-width: $mobile) {
    margin-left: 0;
  }
}

.icon {
  height: .24rem;
  width: .24rem;
}