@import '../variabel.scss';

.container {
  display: flex;
  gap: .32rem;
  margin: .64rem 0;

  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

.banner {
  width: 45%;
  img {
    height: auto;
    width: 100%;
  }
  @media (max-width: $mobile) {
    width: 100%;
  }
}

.content {
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: .32rem;
  @media (max-width: $mobile) {
    width: 100%;
  }
}

.testimony {
  background-color: $slate-50;
  padding: .24rem;
  border-radius: .10rem;
  height: fit-content;
  margin: 0;
  filter: drop-shadow(0 0.1rem 0.14rem rgba(0, 0, 0, 0.18)) drop-shadow(0 0.12rem 0.1rem rgba(0, 0, 0, 0.14));

  @media (max-width: $mobile) {
    width: 100%;
    margin: 0;
  }

  img {
    border-radius: 100%;
  }
}

.header {
  display: flex;
  gap: .16rem;

  > div {
    display: flex;
    gap: .06rem;
    flex-direction: column;
    justify-content: center;
  }
}

.title {
  font-size: .24rem;
  border-bottom: 2px solid $slate-500;
  width: fit-content;
  padding-bottom: .06rem;
  color: $slate-900;

  @media (max-width: $mobile) {
    font-size: .20rem;
  }
}

.name {
  font-weight: 600;
  color: $slate-900;
}

.role {
  color: $slate-500;
}

.caption {
  color: $slate-700;
  margin: 0;
  margin-top: .16rem;
}