$green: #72c8af;
$red: #57270a;
$slate-500: rgb(100 116 139);
$slate-50: rgb(248 250 252);
$slate-900: rgb(15 23 42);
$slate-700: rgb(51 65 85);
$product-1: #dd422c;
$product-2: #CCE1A3;
$product-3: #FFECA0;
$product-4: #72c8af;
$product-5: #fbd702;
$product-6: #62C2C4;

$mobile: 76.8rem;